* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-color: #fff;
    --bg-color: #1b1b1d;
    --soft-color-48: rgba(255, 255, 255, 0.48);
    --soft-color-16: rgba(255, 255, 255, 0.16);
    --soft-color-12: rgba(255, 255, 255, 0.12);
    --soft-color-08: rgba(255, 255, 255, 0.08);
    --soft-color-04: rgba(255, 255, 255, 0.04);
}

:root.light {
    --text-color: #1b1b1d;
    --bg-color: #fff;
    --soft-color-48: rgba(0, 0, 0, 0.48);
    --soft-color-16: rgba(0, 0, 0, 0.16);
    --soft-color-12: rgba(0, 0, 0, 0.12);
    --soft-color-08: rgba(0, 0, 0, 0.08);
    --soft-color-04: rgba(0, 0, 0, 0.04);
}

body {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    background: var(--bg-color);
}

fieldset {
    border: none;
    width: auto;
}

legend {
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
}
